<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    <link rel="stylesheet" href="~/styles/site.css" />
    <!-- The RenderSection() will grab a piece of the page noted by section name -->
    @RenderSection("head", required: false)
</head>
<body>
    <main>
        @*This is where the body of the page is inserted*@
        @RenderBody()
    </main>
    <header><h1>Empty Razor WebApp</h1></header>
    <footer>
        @RenderSection("pageFooter")
        <hr />
        &copy; @DateTime.Today.Year - Dan Gilleland
    </footer>
    <nav>
        @RenderPage("~/_Menu.cshtml")
    </nav>
</body>
</html>
