@using WebApp.Data
@using WestWindSystem.BLL
@{
    Page.Title = "Customer Search";
    Layout = "~/_Layout.cshtml";
}

<h1>Customer Search</h1>

@{ 
    // Grab any data from the form submission
    string partialName = Request.Form["partialName"];
    string formAction = Request.Form["action"];
    string errorMessage = string.Empty;
    // Page-Global variables
    List<Customer> matchingCustomers = new List<Customer>(); // Initialize as an empty list
    if(IsPost)
    {
        // Find Customers only if there is a partial name supplied
        var controller = new CustomerController();
        if(formAction == "Find Customers" && !string.IsNullOrWhiteSpace(partialName))
        {
            matchingCustomers = controller.LoadCustomers(partialName);
        }
        if(formAction == "Show Orders")
        {
            // Find what customer the user selected from the drop-down
            string customerId = Request.Form["selectedCustomer"];
            if (string.IsNullOrWhiteSpace(partialName))
            {
                errorMessage = "Please search for a partial customer before clicking Show Orders";
            }
            else if (string.IsNullOrWhiteSpace(customerId))
            {
                errorMessage = "Please select a customer before clicking Show Orders";
                matchingCustomers = controller.LoadCustomers(partialName);
            }
            else
            {
                // Send that ID as part of a Query String to another page
                Response.Redirect($"~/Demos/ViewCustomerOrders.cshtml?cid={customerId}");
            }
        }
    }
}
<div class="row">
    <div class="col">@errorMessage</div>
</div>
<div class="row">
    <div class="col">
        <form method="post">
            <input type="text" name="partialName" placeholder="Partial Customer Name" value="@partialName" />
            <input type="submit" name="action" value="Find Customers" />
        </form>
    </div>
    <div class="col">
        <form method="post">
            <input type="hidden" name="partialName" value="@partialName" />
            <label>
                Matching Names:
                <select name="selectedCustomer">
                    <option value="">[Select a customer]</option>
                    @foreach(var company in matchingCustomers)
                    {
                        <option value="@company.CustomerID">@company.CompanyName</option>
                    }
                </select>
            </label>
            <input type="submit" name="action" value="Show Orders" />
        </form>
    </div>
</div>
