<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    <link rel="stylesheet" href="~/styles/site.css" />
    @RenderSection("head", required: false)
</head>
<body>
    <main>
        @RenderBody()
    </main>
    <header>
        <h1>Bare-Bones Razor</h1>
    </header>
    <footer>
        @RenderSection("pageFooter")
        <hr />
        &copy; @DateTime.Today.Year - Dan Gilleland
    </footer>
    <nav>
        @RenderPage("~/_Menu.cshtml")
    </nav>
</body>
</html>
